.col-form-label{ padding-top: 7px; padding-bottom: 7px; margin-bottom: 0; line-height: 1.5; font-size: 16px;}
.form-select{ width: 100%; }
.sc-box{ font-size: 16px; line-height: 25px; border-radius: 5px;}
#shortcode_preview{width: 30%;}
.wp-picker-container .button.wp-color-result{margin-bottom: 0px !important;}